<div class="container">
    Show:
    <input type="radio" name="radio" value="All" [(ngModel)] = 'selectedRadioButtonValue' (change) ='getRadioButtonValue()'><span>All( {{all}} ) </span>
    <input type="radio" name="radio" value="Male" [(ngModel)] = 'selectedRadioButtonValue' (change) ='getRadioButtonValue()'> <span>Male ( {{male}} ) </span>
    <input type="radio" name="radio" value="Female" [(ngModel)] = 'selectedRadioButtonValue' (change) ='getRadioButtonValue()'> <span>Female ( {{female}} ) </span>
</div>