.table-container {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-radius: 4px;
    height: 480px;
    overflow-y: scroll;
}
.t-row {
    display: flex;
}
.t-column {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 90%;
    word-break: break-all;
    padding: 5px;
}
.column-id {
    width: 10%;
    text-align: center;
}