<form>
    <label class="url-input-label" for="geturl">Enter the Url to extract Url's</label>
    <input type="text" id="geturl"  required #getUrl='ngModel' placeholder="Enter Website Url" class="url-input-form-control" name="url-extract"
        [(ngModel)]="userInputData" >
</form>
<div class="alertMessage" *ngIf='getUrl.touched && !getUrl.valid || showalertMessage'>*Please Enter Url</div>
<button class="submit-url-button" (click)='getwebsiteurlComp()'>
    <mat-progress-spinner mode="indeterminate" diameter="20" *ngIf="spinControl"></mat-progress-spinner>
    <span *ngIf="!spinControl">Submit</span>
</button>
<div class="table-container" *ngIf="urlData">
    <div class="t-head">
        <div class="t-row">
            <div class="t-column column-id">S.No</div>
            <div class="t-column">Website Url</div>
        </div>
    </div>
    <div class="t-body" *ngFor="let item of urlData">
        <div class="t-row">
            <div class="t-column column-id">{{item.id}}</div>
            <div class="t-column"><a target="_blank" [href]="item.url">{{item.title ? item.title : item.url}}</a></div>
        </div>
    </div>
</div>

<h3>{{errorData}}</h3>